body {
    background-image: linear-gradient(to bottom right, rgb(150, 50, 250), rgb(206, 182, 102), rgb(185, 90, 77), rgb(50, 150, 200));
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    font-family: Arial, sans-serif;
    color: #333;
}
h1,h2,p {
    margin: 0;
    padding: 0;
}
header {
    background-color: #250d0d;
    color: #fff;
    padding: 1rem;

}
header h1 {
    font-size: 2rem;
}
nav ul {
    list-style-type: none;
    margin-top: 1rem;
}
nav li {
    display: inline;
    margin-right: 1rem;
}
nav a {
    color: #fff;
    text-decoration: none;
}
footer {
    background-color: #250d0d;
    color: rgb(218, 218, 218);
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.output {
    padding: 1%;
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
}

#text2,#text3 {
    text-align: center;
    margin: auto;
    font-size: 0.9rem;
}

td {
    min-height: 20vh;
    max-height: 20vh;
    min-width: 8vw;
    max-width: 30vw;
    border: 1px solid rgba(51, 51, 51, 0.6);
    background-color: rgba(220, 220, 220, 0.15);
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgb(100, 16, 16);
    color: #fff;
    height: 50px;
    width: 110px;
    font-size: 0.9rem;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(75, 75, 75, 0.85);
    width: 110px;
    z-index: 1;
}

.dropdown-content a {
    font-size: 0.8rem;
    color: rgb(218, 136, 13);
    padding-top: 6%;
    padding-bottom: 6%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: rgb(255, 162, 22);
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(138, 16, 16);
}
